<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>behnavaz</title>

</head>

<body>
    <section class="feature brochure block">
        <div class="feature-center brochure-center container ">
            <div class="feature-img brochure-img">
                <img class="child__img" src="./assets/images/child.svg" alt="home">
            </div>
            <div class="feature__title brochure__title">
                <h2 class="feature__heading brochure__heading">
                   دارای تنظیمات مخصوص کودکان!
                </h2>
                <p class="feature__description brochure__description">
                    نگران تغییر بانواز توسط فرزند عزیزت نباش!
                </p>
                <button class="btn btn--primary-light btn__brochure">دانلود بروشور</button>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/main.js"></script>
</body>

</html>