<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
    <section class="feature block">
        <div class="feature-center container ">
            <div class="feature-img">
                <div class="home__Frame">
                    <img class="home__img" src="../assets/images/home.svg" alt="home">
                </div>
                <div class="iphone__Frame">
                    <img class="iphone__img" src="../assets/images/iPhone 11 Pro Max - 10.svg" alt="iphone">
                </div>
            </div>
            <div class="feature__title">
                <h2 class="feature__heading">
                    خیالت از خونه راحت!
                </h2>
                <p class="feature__description">
                    بانواز واژهای کردی به معنای باخبر ساختن با صدای بلند است. درست مـثل بانواز!
                    <br>
                    با سنسورهای بانواز از هیچ اتفاقی بی خبر نیست!
                    <br>
                    چه خونه باشی چه نه.
                </p>
                <button class="btn btn--secondary">فروشگاه بانواز</button>
            </div>
        </div>
    </section>
</body>
</html>