<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>behnavaz</title>
  </head>

  <body>
    <footer class="footer">
      <section class="friends-sec block">
        <div class="friends-center container">
          <div class="friends__dec">
            <h2>رفقای بانواز!</h2>
            <p>ما افتخار همکاری با بیش از ده ها شرکت رو در بانواز داریم</p>
          </div>
          <div class="friends__img">
            <img src="../assets/images/footer-image/Logos.svg" alt="logo" />
          </div>
        </div>
      </section>

      <section class="about-sec block">
        <div class="about-center container">
          <!-- 1 -->
          <div class="about__list">
            <h3>بانواز</h3>
            <ul class="list__item">
              <li>خانه</li>
              <li>فروشگاه</li>
              <li>ورود به داشبورد</li>
            </ul>
          </div>
          <!-- 2 -->
          <div class="about__list">
            <h3>فروشگاه</h3>
            <ul class="list__item">
              <li>دستگاه مرکزی</li>
              <li>سنسورهای داخلی</li>
              <li>سنسورهای خارجی</li>
            </ul>
          </div>
          <!-- 3 -->
          <div class="about__list">
            <h3>بانواز</h3>
            <ul class="list__item">
              <li>درباره ی بانواز</li>
              <li>وبلاگ</li>
              <li>تماس با ما</li>
            </ul>
          </div>
          <!-- 4 -->
          <div class="about__list">
            <ul class="list__item">
              <li><a href="#">دانلود اپلیکیشن</a></li>
              <li>
                <a href="#">
                  <img
                    src="../assets/images/footer-image/artwork.png"
                    alt="google-play"
                  />
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="../assets/images/footer-image/Group.png"
                    alt="apple-store"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- social media -->

        <div class="line"></div>
        <div class="social-media">
          <ul>
            <li>
              <a href="#">
                <img
                  src="../assets/images/footer-image/social icon/Path.png"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/footer-image/social icon/Path (1).png"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/footer-image/social icon/Path (2).png"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/footer-image/social icon/Path (3).png"
                  alt=""
                />
              </a>
            </li>
          </ul>
          <p>تمامی حقوق متعلق به بانواز میباشد.</p>
        </div>
      </section>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
      integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="./js/main.js"></script>
  </body>
</html>
