<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>behnavaz</title>

</head>

<body>
    <section class="servises block">
        <div class="services__tabs container">
            <a href="#" class="tab">
                <div class="frame__image-tab">

                    <img  src="./assets/images/services-images/door.svg" alt="">
                </div>
                <p class="title__tab">درب و پنجره</p>
            </a>
            <a href="#" class="tab">
                <div class="frame__image-tab">

                    <img  src="./assets/images/services-images/Flower.svg" alt="">
                </div>
                <p class="title__tab">گل و گیاه</p>
            </a>
            <a href="#" class="tab">
                <div class="frame__image-tab">

                    <img  src="./assets/images/services-images/Electricity.svg" alt="">
                </div>
                <p class="title__tab"> وسایل برقی </p>
            </a>
            <a href="#" class="tab">
                <div class="frame__image-tab">

                    <img  src="./assets/images/services-images/Lighting.svg" alt="">
                </div>
                <p class="title__tab"> روشنایی</p>
            </a>
            <a href="#" class="tab">
                <div class="frame__image-tab">

                    <img  src="./assets/images/services-images/Heating.svg" alt="">
                </div>
                <p class="title__tab"> گرمایشی </p>
            </a>
            <a href="#" class="tab">
                <div class="frame__image-tab">

                    <img  src="./assets/images/services-images/Animals.svg " alt="">
                </div>
                <p class="title__tab"> حیوانات </p>
            </a>

        </div>





    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/main.js"></script>
</body>

</html>