<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <section class="special block">
      <div class="special-center container">
        <div class="special__box">
          <img
            src="../assets/images/special-images/Animal.svg"
            alt="Animal"
            class="special__img"
          />
          <p class="special__des">
            سنسورهایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش مصنوعی
            گرسنه اون رو تشخیص بدن
          </p>
        </div>
        <div class="special__box">
          <img
            src="../assets/images/special-images/Plant.svg"
            alt="Plant"
            class="special__img"
          />
          <p class="special__des">
            با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به گیاه
            ها آب بدی!
            <br />
            <br />
          </p>
        </div>
        <div class="special__box">
          <img
            src="../assets/images/special-images/Electric.svg"
            alt="Electric"
            class="special__img"
          />
          <p class="special__des">
            میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی.
            <br />
            یا حتی برای روشن بودن اونها از بانواز کمک بگیری
          </p>
        </div>
        <div class="special__box">
          <img
            src="../assets/images/special-images/Door.svg"
            alt="Door"
            class="special__img"
          />
          <p class="special__des">
            باز و بسته شدن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت دیگه
            در سنسور های بانواز!
            <br />
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
