<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>behnavaz</title>

</head>

<body>
    <section class="feature brochure store block ">
        <div class="feature-center brochure-center store-center container ">
            <div class="feature-img store-img">
                <div class="store__spiker-img"></div>
                <img class="application__img" src="./assets/images/iPhone11ProMax_application.svg" alt="application-store">
            </div>
            <div class="feature__title brochure__title store__title">
                <h2 class="feature__heading brochure__heading">
                   مدیریت خانه روی گوشی!
                </h2>
                <p class="feature__description store__description">
                    با دانلود اپلیکشن بانواز میتوانی تمامی سنسورها رو روی گوشیت مشاهده و کنترل کنی.
                </p>
                <button class="btn btn--secondary-transparent btn__brochure">فروشگاه بانواز</button>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/main.js"></script>
</body>

</html>